li{
    list-style: none;
}
h2{
    color:8B4513;
    font-family: 'Italianno', cursive;
    font-size:50px;
}
.class1 img{
    width:400px;
    height:600px; 
    padding-left:60px;
}
.sakura-container{
    display:flex;
    flex-direction:row;
}
.hidari{
    padding-left:20px;
    padding-right:120px;
}
.ongaku{
    line-height:0.;
}
.profile{
    font-family: 'Jacques Francois', serif;
    color:8B4513;
    padding-right:120px;
    padding-left:120px;
}
h1{
    color:8B4513;
    font-family: 'Jacques Francois', serif;
}
p{
    color:8B4513;
    font-size:20px;
    font-family: 'Jacques Francois', serif;
}
li{
    color:8B4513;
    font-size:20px;
}
body{background-color:FAF0E6;
}
.favorite{
    padding-left:120px;
    padding-right:120px;
    font-family:'Jacques Francois', serif;
}


